

.popup{
   box-shadow: 5px 5px 10px black;
   height: 58vh;
   width: 35vw;
   /* z-index: 2; */
   margin-top: -25%;
   margin-left: 64%;
   display: none;
}

.nav{
   display: flex;
   justify-content: space-between;
   /* margin: 5px; */
   padding: 5px;
   height: 40px;
   background-color: #c2e7ff;
}


.nav h2{
   margin-top: 3px;
}

.popup-content{
   display: flex;
   flex-direction: column;
   margin: 5px;
}

input{
   padding: 5px;
   font-size: 15px;
}

.textmsg{
   padding: 10px;
   color: firebrick;
   font-size: 15px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.send-btn{
   height: 25px;
   width: 60px;
   border-radius: 15px;
   color: white;
   background-color: blue;
   margin: 8px;
   cursor: pointer;
}




*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background-color: #f6f8fc;
   overflow-x: hidden;
}

nav{
   display: flex;
   flex-direction: row;
   /* justify-content: space-between; */
   height: 8vh;
   width: 100vw;
   /* border: 2px solid red; */
   padding: 10px;
}

nav #menu{
   height: 30px;
   margin-top: 5px;
   margin-left: 20px;
   /* border: 1.5px solid black; */
}

nav #logo{
   height: 30px;
   margin-top: 5px;
   margin-left: 30px;
   /* border: 1.5px solid black; */
}

nav #search{
   display: flex;
   height: 40px;
   width: 580px;
   margin-top: 0;
   margin-left: 5px;
   padding-top: 5px;
   /* padding-left: 15px; */
   margin-left: 100px;
   /* border: 1.5px solid black; */
   background: #eaf1fb;
   border-radius: 50px;
}

nav #search .srch-box{
   height: 35px;
   width: 500px;
   font-size: 20px;
   margin-top: -5px;
   margin-left: 5px;
   background: #eaf1fb;
   border: #eaf1fb;
   /* outline: none; */
}

nav #search .srch-box:focus{
   outline: 10px;  
}

nav #icons{
   display: flex;
   justify-content: space-between;
   width: 150px;
   margin-left: 31%;
   /* border: 1.5px solid black; */
   
}

span{
   cursor: pointer;
   border-radius: 100%;
}

span:hover{
   background-color: rgb(222, 234, 221);
}

#signin{
   height: 25px;
   width: 60px;
   border-radius: 10px;
   /* padding: 5px; */
   background-color: black;
   color: white;
   cursor: pointer;
}

#signin:hover{
   box-shadow: 2px 2px 5px grey;
}

.main{
   display: flex;
   margin-top: 15px;
   /* border: 2px solid red; */
   height: 85vh;
   width: 100vw;
}

.main #All-Tabs{
   height: 70vh;
   width: 20vw;
   /* border: 1.5px solid black; */
}

.main #All-Tabs #compose-btn{
   display: flex;
   height: 60px;
   width: 200px;
   margin: auto;
   margin-left: 30px;
   padding: 15px;
   background-color: #c2e7ff;
   border-radius: 15px;
   cursor: pointer;
   /* border: 1px solid blue; */
}

.main #All-Tabs #compose-btn:hover{
   box-shadow: 3px 3px 10px black;
}

.main #All-Tabs #compose-btn p{
   font-size: 25px;
   font-family:Arial, Helvetica, sans-serif;
   margin-left: 20PX;
}

.main #All-Tabs #inbox{
   display: flex;
   height: 30px;
   width: 300px;
   margin-top: 20px;
   padding-left: 50px;
   padding-top: 5px;
   background-color: #c2e7ff;
   border-top-right-radius : 15px;
   border-bottom-right-radius : 15px;
   cursor: pointer;
   /* border: 1px solid blue; */
}

.main #All-Tabs #inbox p{
   font-size: 18px;
   font-family:Arial, Helvetica, sans-serif;
   margin-left: 20PX;
   margin-right: 80px;
}

.main #starred{
   display: flex;
   height: 30px;
   width: 300px;
   margin-top: 5px;
   padding-left: 50px;
   padding-top: 5px;
   /* border: 1px solid blue; */
}

.main #All-Tabs #starred p{
   font-size: 18px;
   font-family:Arial, Helvetica, sans-serif;
   margin-left: 20PX;
}

.main #All-Tabs #snoozed{
   display: flex;
   height: 30px;
   width: 300px;
   margin-top: 5px;
   padding-left: 50px;
   padding-top: 5px;
   /* border: 1px solid blue; */
}

.main #All-Tabs #snoozed p{
   font-size: 18px;
   font-family:Arial, Helvetica, sans-serif;
   margin-left: 20PX;
}

.main #All-Tabs #sent{
   display: flex;
   height: 30px;
   width: 300px;
   margin-top: 5px;
   padding-left: 50px;
   padding-top: 5px;
   /* border: 1px solid blue; */
}

.main #All-Tabs #sent p{
   font-size: 18px;
   font-family:Arial, Helvetica, sans-serif;
   margin-left: 20PX;
}

.main #All-Tabs #draft{
   display: flex;
   height: 30px;
   width: 300px;
   margin-top: 5px;
   padding-left: 50px;
   padding-top: 5px;
   /* border: 1px solid blue; */
}

.main #All-Tabs #draft p{
   font-size: 18px;
   font-family:Arial, Helvetica, sans-serif;
   margin-left: 20PX;
}

.main #All-Tabs #more{
   display: flex;
   height: 30px;
   width: 300px;
   margin-top: 5px;
   padding-left: 50px;
   padding-top: 5px;
   /* border: 1px solid blue; */
}

.main #All-Tabs #more p{
   font-size: 18px;
   font-family:Arial, Helvetica, sans-serif;
   margin-left: 20PX;
}

.main #All-Tabs #label{
   display: flex;
   justify-content: space-between;
   height: 30px;
   width: 230px;
   margin-top: 40px;
   margin-left: 50px;
}

.main #All-Tabs #starred:hover{
   cursor: pointer;
   background-color: #c2e7ff;
   border-top-right-radius : 15px;
   border-bottom-right-radius : 15px;
}

.main #All-Tabs #snoozed:hover{
   cursor: pointer;
   background-color: #c2e7ff;
   border-top-right-radius : 15px;
   border-bottom-right-radius : 15px;
}

.main #All-Tabs #sent:hover{
   cursor: pointer;
   background-color: #c2e7ff;
   border-top-right-radius : 15px;
   border-bottom-right-radius : 15px;
}

.main #All-Tabs #draft:hover{
   cursor: pointer;
   background-color: #c2e7ff;
   border-top-right-radius : 15px;
   border-bottom-right-radius : 15px;
}

.main #All-Tabs #more:hover{
   cursor: pointer;
   background-color: #c2e7ff;
   border-top-right-radius : 15px;
   border-bottom-right-radius : 15px;
}

.main #mails{
   height: 85vh;
   width: 80vw;
   /* border: 1.5px solid black; */
}

.main #mails #icons{
   display: inline; 
   width: 50px;
   margin-top: 15px;
   margin-left: -3px;
   margin-right: 5px;
   /* border: 1px solid blue; */
}

.main #mails #tab-bar{
   display: flex;
   justify-content: space-between;
   /* height: 10vh; */
   width: 60vw;
   margin: 0px;
   /* border: 1px solid blue; */
}

.main #mails #mail-tab{
   display: flex;
   margin: 12px;
}

.main #mails #mail-tab:hover{
   cursor: pointer;
   background-color: #d4d9e3;
   height: 40px;
   width: 140px;
   border-radius: 20px;
   align-items: center;
}

.main #mails #mail-tab p{
   font-size: 20px;
   margin-left: 10px;
}

.main #mails #email-list{
   width: 90vw;
   margin: 5px;
   padding: 5px;
   cursor: pointer;
   /* border: 1px solid blue; */
}

.main #mails #email-list #mail{
   display: flex;
   flex-direction: row;
   padding: 5px;
   font-size: 20px;
}

.main #mails #email-list #mail #sender{
   width: 170px;
   margin-left: 5px;
}

.main #mails #mail:hover{
   background-color: #c2e7ff;
}